<html lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Admin Dashboard</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
    
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/adminSideNav.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/loginStyle.css">
        
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/btns.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/checkBoxes.css">

      
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/adminStyle.css">
       

        
    </head>  

    <body >
      
         <div class="mainHeader">

        <div class="contact">
        
            <label class="address">131 Heartland Boulevard, Edgewood, New York, U.S </label>
            <label class = "number">866-282-4729</label>

       
            <div class="link">
                <a id="facebook"  class="linkSpacing"        href="https://www.facebook.com/abhpharma/n">Facebook</a>
    

                <a id="twitter" class="linkSpacing" 
                href="https://twitter.com/ABHPharma?lang=en">Twitter</a>



                <a id="instagram" class="linkSpacing" href="https://www.instagram.com/abhpharma/?hl=en">Instagram</a>
 

 
                <a id="google+" class="linkSpacing" 
                href="https://plus.google.com/+Abhpharma">Google+</a>
        

       
             <a id="linkedIn"class="linkSpacing"  href="https://www.linkedin.com/company/abh-pharma-inc/">LinkedIn</a>

            </div>
        
        
            <div class="logoLoc">
                <a href="https://abhpharma.com"><img src="/images/headerv1.jpg"></a> 
            </div>
   
            
        </div>
            
            
         </div>

         <div class="side-nav">
                <ul class="sections">
                  <li><a href="/ABH_ADMIN/Dashboard/addUser" class="addUser">Add User</a></li>
                  <li><a href="/ABH_ADMIN/Dashboard/removeUser" class="removeUser" >Remove User</a> </a></li>
                  <li><a href="/logout" class="logOut">Log Out</a></li>
                </ul>
              </div>
              <div class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              <div class="x-bar">
                <div class="side-bar1"></div>
                <div class="side-bar2"></div>
              </div>
        

         <div id="formLoc">
           
            <form id="msform" method="POST" action="/ABH_ADMIN/Dashboard/addPassword" >
                <fieldset>
                        <h1 id="sectionName"><em>Add user</em> <br><br> </h1>  
                        <p id="alert"><%include ./partials/messages.ejs %></p>
                        <h1 id="title" class="fs-title">User Info</h2>
                     
                        <input 
                        type="name" 
                        class="inputField" 
                        id="firstName" 
                        name="firstName" 
                        placeholder="User First Name" 
                        value="<%=lastName%>"

                        required
                        />
                        
                    
                        <input 
                        type="name" 
                        class="inputField" 
                        id="lastName" 
                        name="lastName" 
                        placeholder="User Last Name" 
                        value="<%=lastName%>"
                        required
                        />
                        
                        <input 
                        type="name" 
                        class="inputField" 
                        id="user_name" 
                        name="user_name" 
                        placeholder="Username" 
                        value="<%= user_name%>"
                        required
                        />

                        <input 
                        type="email" 
                        class="inputField" 
                        id="Email" 
                        name="Email" 
                        placeholder="User Email: your@email.com" 
                        value="<%= Email %>"
                       
                        required
                        />
                          
                        <input 
                        type="text" 
                        class="inputField" 
                        id="department" 
                        name="department" 
                        placeholder="Department You Work In"
                        value="<%= department %>"
                        required
                        />


                        <input 
                        type="number" 
                        class="inputField" 
                        id="cellNumber" 
                        name="cell" 
                        placeholder="Cell Phone Number"
                        value="<%= cell %>"
                        required
                        />

                       
                        <div id="nxtBtn">
                        <button type="submit"  name="next" id="formComplete"  ><span>Add User</span></button>
                        </div>
                      </fieldset> 
          
                     </div>
               
            </>
        </div>



                    <!-- <form class="form-group" method="POST" action="/purchase" id="addVend" class="tab-pane fade in active">
                    </form> -->



 
 <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>



  <script src='/scripts/adminScript.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>  

</html>